#page-container {
    padding-inline: 32px;
    max-width: 1800px;
}

#page-container>.v-row>.v-col {
    padding-inline: 8px;
}

@media (max-width: 1280px) {
    #page-container {
        margin-inline: 0px;
        max-width: 100%;
    }
}